{% extends "base.html" %}
{% block title %} PyLab - Chapter {{ chapter.order}}: {{ chapter.title }} {% endblock title %}
{% block content %}
<div class="container" aria-label="Topics">
        <h1 class="container-title">{{ chapter.title }}</h1>
        {% for topic in chapter.topics.all %}
          <div class="box">
            <div class="box-left">{{ topic.order }}</div>
            <div class="box-center">
                <a href="/topics/topic/{{ topic.id }}">{{ topic.title }}</a>
            </div>
            <div class="box-right">
                <span class="{{ ... }}">
                    {{ ... }}
                </span>
                <span class="{{ ... }}">
                    {{ ... }}
                </span>
                <a href="/topics/topic/{{ topic.id }}" class="arrow-button">→</a>
            </div>
          </div>
        {% empty %}
          <p class="empty-content">
            Sorry(<br>
            There are no topics yet<br>
            But we're solving this problem
          </p>
          <p class="empty-content centered-text">LAZY DEVS</p>
          <p class="empty-content">
            Use other materials
          </p>
        {% endfor %}
</div>
{% endblock content %}