<header>
    <div class="logo">
        <img src="/static/img/logo/logo_100.png" alt="Логотип сайта" />
        <div class="logo-text">PyLab</div>
    </div>
    <nav>
        <!-- <a href="/algorithms/">Algorithms</a>
        <a href="#">Test_db</a> -->
        <a href="...">Chapters</a>
        <!-- <a href="/tasks/">Task_db</a>
        <a href="/tasks/">Projects</a>
        <a href="/manuals/">Manuals</a> -->
    </nav>
    <div class="profile" aria-label="Профиль пользователя">
        <img src="frontend/styles/img/profile-icon.png" />
        <a href="/users/profile/">Profile</a>
    </div>
</header>
